<div class="row">
  <h1>Listagem de categorias</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="5">
          <button class="btn btn-primary" (click)="showModalinsert()" >Nova Categoria</button>
      </td>
    </tr>
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 65%">Nome</th>
      <th style="width: 10%">Ativa?</th>
      <th style="width: 10%">Criado EM</th>
      <th style="width: 10%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td>
        <i class='fas' [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
      </td>
      <td>{{category.created_at.date | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a href="javascript:void(0)" (click)="showModalEdit(category.id)">
            <i class="fas fa-edit"></i>
        </a> |
        <a href="javascript:void(0)" (click)="showModalDelete(category.id)">
            <i class="fas fa-trash-alt"></i>
        </a>

      </td>
    </tr>
    </tbody>
  </table>
</div>
<category-new-modal
        (onSucess)="onInsertSucess($event)" (onError)="onInsertError($event)" ></category-new-modal>
<category-edit-modal [categoryId]="categoryId"
                     (onSucess)="onEditSucess($event)" (onError)="onEditError($event)"></category-edit-modal>
<category-delete-modal [categoryId]="categoryId"
                     (onSucess)="onDeleteSucess($event)" (onError)="onDeleteError($event)"></category-delete-modal>