<div class="row">
  <h1>Listagem de Usuários</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="5">
        <button class="btn btn-primary" (click)="userInsertServices.showModalinsert()" >Novo Usuário</button>
      </td>
    </tr>
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 65%">Nome</th>
      <th style="width: 10%">Email</th>
      <th style="width: 10%">Criado EM</th>
      <th style="width: 10%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | paginate: {
                itemsPerPage: pagination.itemsPerPage,
                currentPage: pagination.page,
                totalItems: pagination.totalItems}">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.created_at.date | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a href="javascript:void(0)" (click)="userEditServices.showModalEdit(user.id)">
          <i class="fas fa-edit"></i>
        </a> |
        <a href="javascript:void(0)" (click)="userDeleteServices.showModalDelete(user.id)">
          <i class="fas fa-trash-alt"></i>
        </a>

      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"
                       previousLabel="Anterior"
                       nextLabel="Próximo"></pagination-controls>
</div>
<user-new-modal
        (onSucess)="userInsertServices.onInsertSucess($event)"
        (onError)="userInsertServices.onInsertError($event)" ></user-new-modal>
<user-edit-modal [userId]="userId"
                     (onSucess)="userEditServices.onEditSucess($event)"
                     (onError)="userEditServices.onEditError($event)"></user-edit-modal>
<user-delete-modal [userId]="userId"
                       (onSucess)="userDeleteServices.onDeleteSucess($event)"
                       (onError)="userDeleteServices.onDeleteError($event)"></user-delete-modal>