<form (submit)="submit()">
    <modal (onHide)="hideModal($event)">
        <h5 modal-title>Novo Produto</h5>

        <div modal-body>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name-insert" name="name" required
                       [(ngModel)]="product.name">
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <input type="text" class="form-control" id="description-insert" name="description" required
                       [(ngModel)]="product.description">
            </div>
            <div class="form-group">
                <label for="name">Slug</label>
                <input type="text" class="form-control" id="slug-insert" name="slug" required
                       [(ngModel)]="product.slug">
            </div>
            <div class="form-group">
                <label for="name">Preço</label>
                <input type="number" class="form-control" id="price-insert" name="price" required
                       [(ngModel)]="product.price">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="active" name="active" required
                       [(ngModel)]="product.active">
                <label for="name">Ativo?</label>
            </div>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
    </modal>
</form>